.yx-collapse {
  width: 100%;
}
.yx-collapse-btn {
  display: inline-block;
  padding: 5px 50px;
  cursor: pointer;
  color: #606266;
  font-size: 14px;
}

.person-tag[data-v-251b8368] {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin: 10px;
}
.person-li[data-v-251b8368] {
  font-size: 12px;
}
.person-list[data-v-251b8368] {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.person-list label[data-v-251b8368] {
  margin-left: 0px !important;
  min-width: 85px;
  margin-right: 20px !important;
}
.infinite-list[data-v-251b8368] {
  height: 300px;
}

.person-tag[data-v-1ffce1fb] {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin: 10px;
}
.person-li[data-v-1ffce1fb] {
  font-size: 12px;
}
.person-list[data-v-1ffce1fb] {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.person-list label[data-v-1ffce1fb] {
  margin-left: 0px !important;
  min-width: 85px;
  margin-right: 9px !important;
}
.infinite-list[data-v-1ffce1fb] {
  height: 300px;
}

.person-tag[data-v-f2295c24] {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin: 10px;
}
.person-li[data-v-f2295c24] {
  font-size: 12px;
}
.person-list[data-v-f2295c24] {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.person-list label[data-v-f2295c24] {
  margin-left: 0px !important;
  min-width: 85px;
  margin-right: 9px !important;
}
.infinite-list[data-v-f2295c24] {
  height: 300px;
}

.btn-li[data-v-23d2d428] {
  margin-top: 20px;
}
.btn-li .el-button[data-v-23d2d428] {
  width: 100px;
}
.tip-demo[data-v-23d2d428] {
  margin-bottom: 20px;
}
.tip-demo span[data-v-23d2d428] {
  color: red;
}
.demo-ruleForm[data-v-23d2d428] {
  width: 70%;
}
.person-info[data-v-23d2d428]::before {
  margin-top: 9px;
  content: '*';
  color: #F56C6C;
  margin-right: 4px;
}

