
[data-v-7a121523] .el-date-editor {
  width: 100%;
}
.num-content[data-v-7a121523] {
  font-size: 14px;
  color: #333;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.num-content span span[data-v-7a121523] {
  font-size: 18px;
}

