.btn-li[data-v-66d86e1c] {
  margin-top: 20px;
}
.btn-li .el-button[data-v-66d86e1c] {
  width: 100px;
}
.tip-demo[data-v-66d86e1c] {
  margin-bottom: 20px;
}
.tip-demo span[data-v-66d86e1c] {
  color: red;
}
.demo-ruleForm[data-v-66d86e1c] {
  width: 70%;
}

