.search-result-main[data-v-143eae62] {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 100%;
  position: relative;
}
.search-result-main > div.li[data-v-143eae62] {
  width: 24%;
  position: relative;
  border: 1px solid #E5E5E5;
  margin-bottom: 14px;
  margin-right: 1.3%;
  font-size: 12px;
}
.search-result-main > div.li .status[data-v-143eae62] {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
}
.search-result-main > div.li .status img[data-v-143eae62] {
  width: 60%;
}
.search-result-main > div.li .title[data-v-143eae62] {
  padding: 0 10px;
  line-height: 38px;
  background-color: #F5F5F5;
  font-weight: bold;
  align-items: center;
  min-height: 37px;
}
.search-result-main > div.li .title span[data-v-143eae62]:first-child {
  line-height: 18px;
  color: #FFFFFF;
  padding: 2px 4px;
  margin-right: 10px;
  border-radius: 1px;
  min-width: 56px;
}
.search-result-main > div.li .title span[data-v-143eae62]:last-child {
  display: inline-block;
  font-size: 14px;
}
.search-result-main > div.li .content[data-v-143eae62] {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.search-result-main > div.li .content .img-main[data-v-143eae62] {
  width: 66px;
  cursor: pointer;
}
.search-result-main > div.li .content .img-main img[data-v-143eae62] {
  width: 100%;
  height: 63px;
}
.search-result-main > div.li .content .more-img[data-v-143eae62] {
  background: #E5E5E5;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.search-result-main > div.li .content .more-img img[data-v-143eae62] {
  width: 46%;
  height: 46%;
}
.search-result-main > div.li .content .search-result[data-v-143eae62] {
  width: calc(100% - 76px);
}
.search-result-main > div.li .content .search-result p[data-v-143eae62] {
  line-height: 20px;
}
.search-result-main > div.li .content .search-result .warinTime[data-v-143eae62] {
  color: #999999;
}
.search-result-main > div.li .content .button[data-v-143eae62] {
  width: 100%;
  padding-left: 76px;
  margin: 7px 0;
}
.search-result-main > div.li .content .button[data-v-143eae62] .el-button {
  padding: 4px 15px;
  min-height: 22px !important;
}
.search-result-main > div.li .content .button .el-button[data-v-143eae62]:first-child {
  background-color: #fff;
  color: #179DFF;
}
.search-result-main > div.li .content .button .el-button[data-v-143eae62]:first-child:hover {
  background: rgba(23, 157, 254, 0.4);
  color: #FFFFFF;
  border: 1px solid #179DFE;
}
.search-result-main > div.li .content .button .checked[data-v-143eae62] {
  background: #E5E5E5;
  color: #999999;
  border: none;
}
.search-result-main > div.li[data-v-143eae62]:hover {
  box-shadow: 0px 5px 8px 0px #C4C4C4;
  border: 1px solid #E5E5E5;
}
.search-result-main > div.li[data-v-143eae62]:nth-child(4n) {
  margin-right: 0;
}
/**
  变量
**/
/**
  搜索区域样式 
**/
.seachCondition[data-v-143eae62] {
  text-align: center;
  border: 1px solid #4d4d4d;
  border-radius: 6px;
  padding: 20px;
  min-width: 200px;
}
.seachCondition .detail p[data-v-143eae62]:not(:first-child) {
  line-height: 40px;
}
.seachCondition .detail p:not(:first-child) span[data-v-143eae62] {
  color: red;
}
.seachCondition .seach .el-row[data-v-143eae62] {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.seachCondition .panel[data-v-143eae62] {
  margin: auto;
  width: 140px;
  padding-bottom: 10px;
  border-bottom: 1px solid #6699ff;
  line-height: 20px;
}
.index-container[data-v-143eae62] {
  color: #212529;
}
.index-container .rightContent[data-v-143eae62] {
  flex: 1;
  font-size: 13px;
}
.index-container .el-pagination[data-v-143eae62] {
  text-align: right;
}
[data-v-143eae62] .select-popper .el-select-dropdown__item {
  height: 68px !important;
}

